body {
    background-color: lightgray;
}

.container {
    display: flex;
}

form {
    margin: 3% auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid black;
}

.inputContainer {
    display: flex;
    align-items: center;
    align-content: center;
}

#inputField{
    width: 100%;
    margin: 5px 0 5px 0;
}
#addInput, #submitRegex {
    margin: 5px 0 5px 0;
}